In [ ]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale

codrna = pd.read_csv("/content/codrna.csv")

In [ ]:
print("Dimensions: ", codrna.shape, "\n")
print(codrna.info())
codrna.head()

Dimensions:  (10000, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       10000 non-null  int64
 1   X1      10000 non-null  float64
 2   X2      10000 non-null  float64
 3   X3      10000 non-null  float64
 4   X4      10000 non-null  float64
 5   X5      10000 non-null  float64
 6   X6      10000 non-null  float64
 7   X7      10000 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 625.1 KB
None

   Y        X1        X2        X3        X4        X5        X6        X7
0 -1 -4.400806  6.497719  2.487098  6.342305  5.268171  2.817185  6.600208
1 -1 -4.170999  6.650009  2.295134  6.832640  5.147534  2.599744  7.110482
2 -1 -3.722875  6.243902  2.588192  6.938571  4.751345  2.931696  7.220721
3 -1 -4.389316  6.294665  2.424702  6.714761  5.256843  2.746508  6.987810
4 -1 -3.355184  6.599246  2.720926  8.166179  4.149689  3.082046  8.498249

In [ ]:
order = list(np.sort(codrna['Y'].unique()))
print(order)

[-1, 1]

In [ ]:
letter_means = codrna.groupby('Y').mean()
letter_means.head()

          X1        X2        X3        X4        X5        X6        X7
Y
-1 -2.859452  5.550946  3.952890  4.555901  5.888012  4.484921  4.674731
 1 -2.731633  3.964168  3.923074  4.769563  5.876570  4.567878  4.723979

In [ ]:
round(codrna.drop('Y', axis=1).mean(), 2)

X1   -2.79
X2    4.63
X3    3.94
X4    4.68
X5    5.88
X6    4.53
X7    4.70
dtype: float64

In [ ]:
X = codrna.drop("Y", axis = 1)
y = codrna['Y']

In [ ]:
X_scaled = scale(X, with_mean=False)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3, random_state = 101)

In [ ]:
import random
print("Number of training samples = ", len(X_train))
print("Number of testing samples = ", len(X_test))

Number of training samples =  7000
Number of testing samples =  3000

In [ ]:
# AdaBoost SVM model
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier

model_linear = AdaBoostClassifier(SVC(probability=True, kernel='linear'), n_estimators=10,  learning_rate=1.0, algorithm='SAMME.R')
model_linear.fit(X_train, y_train)
y_pred = model_linear.predict(X_test)

In [ ]:
print("Accuracy linear kernel with Ada Boost Classifier : ", metrics.accuracy_score(y_true=y_test, y_pred=y_pred), "\n")
print(metrics.confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy linear kernel with Ada Boost Classifier :  0.7643333333333333

[[ 658  598]
 [ 109 1635]]

In [ ]:
# XGBoost SVM model                                                                                                                                                                     AS
import xgboost as xgb

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=69)
xgb_model.fit(X_train, y_train)
y_pred = xgb_model.predict(X_test)

In [ ]:
print("Accuracy linear kernel with XG Boost Classifier : ", metrics.accuracy_score(y_true=y_test, y_pred=y_pred), "\n")
print(metrics.confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy linear kernel with XG Boost Classifier :  0.9246666666666666

[[1121  135]
 [  91 1653]]