In [ ]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale

letters = pd.read_csv("letter-recognition.csv")

In [ ]:
print("Dimensions: ", letters.shape, "\n")
print(letters.info())
letters.head()

Dimensions:  (20000, 17)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB
None

  letter  xbox   ybox   width   height  ...  xy2bar  xedge   xedgey  yedge   yedgex
0      T      2      8       3       5  ...       8       0       8       0       8
1      I      5     12       3       7  ...       9       2       8       4      10
2      D      4     11       6       8  ...       7       3       7       3       9
3      N      7     11       6       6  ...      10       6      10       2       8
4      G      2      1       3       1  ...       9       1       7       5      10

[5 rows x 17 columns]

In [ ]:
letters.columns = ['letter', 'xbox', 'ybox', 'width', 'height', 'onpix', 'xbar', 'ybar', 'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'xedge', 'xedgey', 'yedge', 'yedgex']
# print(letters.columns)

In [ ]:
letters = letters[letters['letter'].isin(['A', 'B']) == True] 
# letters = letters[(letters['letter'].any('A', 'B'))]                                                                                                                             Akhil Singh

In [ ]:
order = list(np.sort(letters['letter'].unique()))
print(order)

['A', 'B']

In [ ]:
letter_means = letters.groupby('letter').mean()
# letter_means.head()

In [ ]:
round(letters.drop('letter', axis=1).mean(), 2)

xbox      3.66
ybox      6.97
width     5.11
height    5.17
onpix     3.78
xbar      8.27
ybar      5.32
x2bar     4.04
y2bar     3.78
xybar     7.88
x2ybar    3.90
xy2bar    7.57
xedge     2.94
xedgey    7.11
yedge     4.72
yedgex    8.27
dtype: float64

In [ ]:
X = letters.drop("letter", axis = 1)
y = letters['letter']

In [ ]:
X_scaled = scale(X, with_mean=False)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3, random_state = 101)

In [ ]:
import random
print("Number of training samples = ", len(X_train))
print("Number of testing samples = ", len(X_test))

Number of training samples =  1088
Number of testing samples =  467

In [ ]:
# AdaBoost SVM model
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier

model_linear = AdaBoostClassifier(SVC(probability=True, kernel='linear'), n_estimators=10,  learning_rate=1.0, algorithm='SAMME.R')
model_linear.fit(X_train, y_train)
y_pred = model_linear.predict(X_test)

In [ ]:
print("Accuracy linear kernel with Ada Boost Classifier : ", metrics.accuracy_score(y_true=y_test, y_pred=y_pred), "\n")
print(metrics.confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy linear kernel with Ada Boost Classifier :  0.9850107066381156

[[223   3]
 [  4 237]]

In [ ]:
# XGBoost SVM model
import xgboost as xgb

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=69)
xgb_model.fit(X_train, y_train)
y_pred = xgb_model.predict(X_test)

In [ ]:
print("Accuracy linear kernel with XG Boost Classifier : ", metrics.accuracy_score(y_true=y_test, y_pred=y_pred), "\n")
print(metrics.confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy linear kernel with XG Boost Classifier :  0.9935760171306209

[[224   2]
 [  1 240]]